<% include header %>

    <% include navbar %>

    <!-- Hero Image Div -->
    <div id="hero-image">

        <div class="hero-text">
            <h1>Show us your 
              <br>
              slurp game!
            </h1>
            <p class="underline"></p>
        </div>

    </div> 
    <!--end of hero-image-->

    <div role="main" class="container">
    
        <br/><br/>
    <section class="target">
        <h1 class="maintitle">About</h1>
        <p class="text-area">
            Mustard greens wood ear mushroom sesame oil soy sauce chicken stock roasted pork slices miso flavoured oil. Ginger Hakata Tokyo pork bones spinach Kumamoto flavoured oil bamboo slices. Soy sauce sesame oil soy milk toasted sesame seeds kamaboko Nagoya scallions Nissin instant cup ramen butter minced garlic salt lard ground black pepper rice kamaboko ground black pepper soy milk. Bean sprouts salt vinegar spinach Tokyo pork bones soy sauce Nagoya Sapporo Sapporo lard Hakodate Hakata Tokushima spinach Kagoshima butter mustard greens. Ginger salt Asahikawa soy milk minced garlic ground black pepper salt chicken stock flavoured oil Nagoya minced garlic.      
        </p>
        <div class="img-wrap">
            <p class="box">
                <img src="/img/ramen.jpg">
            </p>
            <p class="box">
                <img src="/img/ramen.jpg">
            </p>
            
        </div>
    </section>
    </div>

<% include footer %>
<% include scripts %>