<nav class="navbar navbar-expand-sm justify-content-center">
<ul class="nav">
    <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-white" href="/">About</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-white" href="/">Contact Us</a>
    </li>
</ul>
</nav>
  